<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.springcloud.common.mapper.UserMapper">
    
   <resultMap id="baseResult" type="com.learn.springcloud.common.domain.User">
       <id property="id" column="id"/>
       <result property="code" column="code"/>
       <result property="userName" column="name"/>
       <result property="phoneNum" column="phone_num"/>
       <result property="address" column="address"/>
       <result property="remark" column="remark"/>
       <result property="deleted" column="deleted"/>
   </resultMap>

    <select id="getAllUser" resultMap="baseResult">
        select  id,code,name,phone_num,address,remark,deleted from `user` where  deleted = 0;
    </select>

    <select id="getById" resultMap="baseResult" parameterType="integer">

        select  id,code,name,phone_num,address,remark,deleted from `user` where  deleted = 0 and id = #{id};
    </select>

    <insert id="batchInsert">
        insert into `user` (code,name,phone_num,address,remark) values
        <foreach collection="users" item="user" separator=",">
            (#{user.code},#{user.userName},#{user.phoneNum},#{user.address},#{user.remark})
        </foreach>
    </insert>

</mapper>